<div id="side-nav">
	<ul>
		<%= render :partial => "shared/services_sidenav", :object => @categories %>
	</ul>
</div>

<div id="main">
	<h1><%= @page.title %> (<%= @categories.size %>)</h1>
	
	<%= @page.body %>
</div>