<div id="main">
	<h1>New page</h1>

	<% form_for @page, :url => {:action => ""}  do |f| %>	
	  <%= render :partial => "form", :locals => {:f =>f}%>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
	<hr />
	<%= render :partial => "shared/admin/images/form_featured_photos" %>

	<%= link_to 'Back', admin_pages_path %>
</div>