body { background: #222222; color: white; overflow: auto; font-family: "Georgia"; }
body a { color: black; }
body a:hover { color: yellow; }

#upper_pagewrapper { width: 100%; height: 566px; background-image: url(../images/system/bg/front/header.jpg); }
#upper_pagewrapper #header { height: 84px; width: 1020px; background-image: url(../images/system/bg/front/header.jpg); margin: 0px auto; }
#upper_pagewrapper #header #logo { height: 60px; width: 546px; }
#upper_pagewrapper #header #logo a img { margin: 22px 0 0 42px; }
#upper_pagewrapper #header #extra { height: 19px; right: 0px; top: 0px; float: right; margin-top: -55px; }
#upper_pagewrapper #header #extra img { float: left; margin-left: 5px; }
#upper_pagewrapper #navbar { height: 50px; width: 1020px; margin: 0px auto; }
#upper_pagewrapper #navbar ul { margin: 0px auto; }
#upper_pagewrapper #navbar ul li { list-style: none; height: 25px; line-height: 25px; vertical-align: middle; float: left; margin: 17px; font-size: 13px; }
#upper_pagewrapper #navbar ul li a { margin-left: 25px; color: #888888; text-decoration: none; text-transform: uppercase; }
#upper_pagewrapper #navbar ul li a:hover { color: white; }
#upper_pagewrapper #navbar ul li a.active { color: white; }
#upper_pagewrapper #largegallery { width: 100%; height: 433px; background-position: 0 -135px; }
#upper_pagewrapper #holder { width: 961px; margin: 0px auto; height: 359px; padding-top: 24px; }
#upper_pagewrapper #cuber { width: 961px; background: transparent; list-style: none; }
#upper_pagewrapper #listOfImages { background: transparent; height: 359px; margin: 0; padding: 0; width: 961px; position: relative; }

#lower_pagewrapper.large { background: white; }

#lower_pagewrapper { width: 100%; background-image: url(../images/system/bg/front/content_bg.jpg); background-repeat: none; }
#lower_pagewrapper #content.homepage { background-image: url(../images/system/bg/front/content_bg.jpg); }
#lower_pagewrapper #content.homepage #main { width: 463px; }
#lower_pagewrapper #content.homepage #main_bottom { margin-top: 33px; }
#lower_pagewrapper #content { margin: 0px auto; padding: 25px; background-repeat: none; color: black; width: 970px; font-family: "Georgia"; min-height: 280px; }
#lower_pagewrapper #content #main { width: 463px; background: url(../images/system/bg/front/main_width.jpg); float: left; color: #4d4d4d; overflow: auto; font-size: 14px; }
#lower_pagewrapper #content #main #main_top { background-image: url(../images/system/bg/front/main_top.jpg); margin-top: 0; }
#lower_pagewrapper #content #main #main_bottom { background-image: url(../images/system/bg/front/main_bottom.jpg); margin-top: 33px; }
#lower_pagewrapper #content #main .main_border { height: 8px; width: 463px; position: relative; }
#lower_pagewrapper #content #main p { margin: 5px 35px; font-style: italic; font-family: "Georgia"; }
#lower_pagewrapper #content #main ul { margin: 5px 30px; }
#lower_pagewrapper #content #main table { margin: 25px; }
#lower_pagewrapper #content #main a { float: right; margin-bottom: 0px; margin-right: 50px; color: red; }
#lower_pagewrapper #content #main div.toggle { overflow: hidden; }
#lower_pagewrapper #content #searchbox { height: 245px; width: 275px; background-color: transparent; float: left; margin-left: 20px; #border-bottom: 1px solid #bdbdbd; }
#lower_pagewrapper #content #searchbox h3 { text-transform: capitalize; color: #e13939; font-family: "Georgia"; font-variant: small-caps; }
#lower_pagewrapper #content #searchbox h3 span { color: #d4d4d4; }
#lower_pagewrapper #content #searchbox h3 strong { font-weight: normal; color: #d4d4d4; }
#lower_pagewrapper #content #searchbox form { font-family: "Georgia"; }
#lower_pagewrapper #content #searchbox form#QuickQuery p { margin-bottom: 0px; }
#lower_pagewrapper #content #searchbox form#QuickQuery p input#QuickQuery { padding: 6px 0 0 6px; border: 0px; width: 223px; height: 21px; background-image: url(../images/system/form/search_input.jpg); background-repeat: no-repeat; float: left; padding-right: 0px; line-height: 25px; }
#lower_pagewrapper #content #searchbox form#Selectable div { float: right; margin-top: 10px; }
#lower_pagewrapper #content #searchbox form#Selectable div p { margin: 0px; padding: 0px; height: 30px; width: 198px; }
#lower_pagewrapper #content #searchbox form#Selectable div p input.formularios { padding: 6px 0 0 6px; border: 0px; width: 168px; height: 20px; background-image: url(../images/system/form/dropdown.jpg); background-repeat: no-repeat; font-family: "Georgia"; }
#lower_pagewrapper #content #searchbox form#Selectable div p input.onfocus { background-image: url(../images/system/form/dropdown.jpg); }
#lower_pagewrapper #content #searchbox form#Selectable div.titles { margin-top: 22px; color: #838383; }
#lower_pagewrapper #content #searchbox form#Selectable div.titles p { width: 77px; font-size: 80%; font-variant: small-caps; }
#lower_pagewrapper #content #page_header { width: 500px; float: left; }
#lower_pagewrapper #content #sellyourproperty { width: 170px; float: left; margin-top: 15px auto; }
#lower_pagewrapper #content ul#gallerylinks { height: 230px; width: 130px; }
#lower_pagewrapper #content ul#gallerylinks li { float: left; height: 62px; }
#lower_pagewrapper #content #side-nav { width: 150px; height: 230px; float: left; background-color: transparent; margin-right: 25px; }
#lower_pagewrapper #content #side-nav #keep_discovering { width: 150px; height: 80px; background-image: url(../images/system/bg/front/keepdiscovering.jpg); }
#lower_pagewrapper #content #side-nav #polaroid { width: 310px; height: 100px; margin-left: -169px; }
#lower_pagewrapper #content #side-nav ul { padding-left: 5px; width: 120px; float: none; }
#lower_pagewrapper #content #side-nav ul li { list-style: none; }
#lower_pagewrapper #content #side-nav ul li a { color: black; }
#lower_pagewrapper #content #side-nav ul li a:hover { color: red; }
#lower_pagewrapper #content #side-nav ul li ul.sublevel li { list-style: disc; list-style-position: inside; }
#lower_pagewrapper #content h1 { font-size: 22px; padding: 15px 25px 5px 30px; text-align: left; font-family: "Times New Roman"; }
#lower_pagewrapper #content h2 { font-size: 21px; padding: 5px; text-align: left; font-weight: bold; }
#lower_pagewrapper #content p { margin: 10px 0 10px 0; }
#lower_pagewrapper #content ul { margin-right: 50px; }
#lower_pagewrapper #content #subcontent { width: 720px; float: left; margin-left: 40px; }
#lower_pagewrapper #content #subcontent td { border-bottom: 1px solid black; vertical-align: middle; }
#lower_pagewrapper #content #subcontent td table.nolines td { border: 0px none; }
#lower_pagewrapper #footer { margin: 0px auto; width: 100%; height: 35px; background-image: url(../images/system/bg/front/footer_bg.jpg); z-index: 100; }
#lower_pagewrapper #footer ul#links { width: 1020px; margin: 0px auto; list-style: none; }
#lower_pagewrapper #footer ul#links li { line-height: 35px; font-size: 10px; }
#lower_pagewrapper #footer #logbox { float: right; width: 250px; margin-top: 0px; }
#lower_pagewrapper #footer #logbox div { float: left; margin-left: 15px; background-color: white; }
