body { background: white; color: white; }
body a { color: black; }
body a:hover { color: yellow; }

#pagewrapper { width: 1020px; margin: 0px auto; background-color: white; }
#pagewrapper #header { height: 84px; width: 1020px; background-image: url(../images/system/bg/admin/header.png); }
#pagewrapper #header #logbox { float: right; width: 250px; margin-top: 0px; }
#pagewrapper #header #logbox div { float: left; margin-left: 15px; background-color: white; }
#pagewrapper #header #logo { height: 80px; width: 230px; background-image: url(../images/system/logo.gif); }
#pagewrapper #navbar { height: 50px; background-image: url(../images/system/bg/admin/navbar.png); }
#pagewrapper #navbar ul li { list-style: none; height: 25px; line-height: 25px; vertical-align: middle; float: left; margin: 17px; font-size: 13px; }
#pagewrapper #navbar ul li a { margin-left: 25px; color: #888888; text-decoration: none; text-transform: uppercase; }
#pagewrapper #navbar ul li a:hover { color: white; }
#pagewrapper #navbar ul li a.active { color: white; }

#content { margin: 0px auto; padding: 25px; background-image: url(../images/system/bg/front/content.jpg); background: "repeat-y"; color: black; width: 970px; height: 230px; font-family: "Georgia"; }
#content #main { width: 490px; height: 230px; margin-left: 25px; background: white; float: left; color: black; overflow: auto; }
#content #main p { margin: 5px 30px; font-family: "Courier New"; font-size: 14px; }
#content #main table { margin: 25px; }
#content #side-nav { width: 130px; height: 230px; float: left; background-color: white; }
#content #side-nav ul { padding-left: 5px; width: 120px; float: none; }
#content #side-nav ul li { list-style: none; }
#content #side-nav ul li a { color: black; }
#content #side-nav ul li a:hover { color: red; }
#content #side-nav ul li ul.sublevel li { list-style: disc; list-style-position: inside; }
#content h1 { font-size: 22px; padding: 15px 25px 5px 25px; text-align: left; font-family: "Times New Roman"; }
#content h2 { font-size: 21px; padding: 5px; text-align: left; font-weight: bold; }
#content p { margin: 10px 0 10px 0; }
#content ul { width: 600px; float: right; margin-right: 50px; }
#content #subcontent { width: 720px; float: left; margin-left: 40px; }
#content #subcontent td { border-bottom: 1px solid black; vertical-align: middle; }
#content #subcontent td table.nolines td { border: 0px none; }
