<% content_for :script do %>
<script type="text/javascript">
		var flashvars = {};
		flashvars.xml = "config.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "slider";
		swfobject.embedSWF("swf/polaroids.swf", "pcontainer", "310", "100", "9", "swf/expressInstall.swf", flashvars, attributes);
</script>
<% end %>

<div id="polaroid">
	<div id="pcontainer"></div>
</div>