body
	background: white
	color: white
	a
		color: black
	a:hover
		color: yellow


#pagewrapper
	width: 1020px
	margin: 0px auto
	background-color: white
	#header
		height: 84px
		width: 1020px
		background-image: url(../images/system/bg/admin/header.png)
		#logbox
			float: right
			width: 250px
			margin-top: 0px
			div
				float: left
				margin-left: 15px
				background-color: white
		#logo
			height: 80px
			width: 230px
			background-image: url(../images/system/logo.gif)
			
	#navbar
		height: 50px
		background-image: url(../images/system/bg/admin/navbar.png)
		ul
			li
				list-style: none
				height: 25px
				line-height: 25px
				vertical-align: middle
				float: left
				margin: 17px
				font-size: 13px
				a
					margin-left: 25px
					color: #888888
					text-decoration: none
					text-transform: uppercase
				a:hover
					color: white
				a.active
					color: white
#content
	margin: 0px auto 
	padding: 25px
	background-image: url(../images/system/bg/front/content.jpg)
	background: "repeat-y"
	color: black
	width: 970px
	height: 230px
	font-family: "Georgia"
	#main
		width: 490px
		height: 230px
		margin-left: 25px
		background: white
		float: left
		color: black
		overflow: auto
		p
			margin: 5px 30px
			font-family: "Courier New"
			font-size: 14px
		table
			margin: 25px
      
					
	#side-nav
		width: 130px
		height: 230px
		float: left
		background-color: white
		ul
			padding-left: 5px
			width: 120px
			float: none
			li
				list-style: none
				a
					color: black
				a:hover
					color: red	
				ul.sublevel
					li
						list-style: disc	
						list-style-position: inside

	h1
		font-size: 22px
		padding: 15px 25px 5px 25px
		text-align: left
		font-family: "Times New Roman"
	h2
		font-size: 21px
		padding: 5px
		text-align: left
		font-weight: bold
	p
		margin: 10px 0 10px 0
	ul
		width: 600px
		float: right
		margin-right: 50px
	
	#subcontent
		width: 720px
		float: left
		margin-left: 40px
		td
			border-bottom: 1px solid black
			vertical-align: middle
			table.nolines
				td
					border: 0px none

