body
	background: #222222
	color: white
	overflow: auto
	a
		color: black
	a:hover
		color: yellow


#upper_pagewrapper
	width: 100%
	height: 566px
	background-image: url(../images/system/bg/front/header.jpg)
	#header
		height: 84px
		width: 1020px
		background-image: url(../images/system/bg/front/header.jpg)
		margin: 0px auto
		#logo
			height: 60px
			width: 546px
			a
				img
					margin: 22px 0 0 42px
		#extra
			height: 19px
			right: 0px
			top: 0px
			float: right
			margin-top: -55px
			img
				float: left
				margin-left: 5px 
	#navbar
		height: 50px
		width: 1020px
		margin: 0px auto
		ul
			margin: 0px auto
			li
				list-style: none
				height: 25px
				line-height: 25px
				vertical-align: middle
				float: left
				margin: 17px
				font-size: 13px
				a
					margin-left: 25px
					color: #888888
					text-decoration: none
					text-transform: uppercase
				a:hover
					color: white
				a.active
					color: white
	#largegallery
		width: 100%
		height: 433px
		background-position: 0 -135px
	#holder
		width: 961px
		margin: 0px auto
		height: 359px
		padding-top: 24px
	#cuber
		width: 961px
		background: transparent
		list-style: none
	#listOfImages 
		background: transparent
		height: 359px
		margin: 0
		padding: 0
		width: 961px
		position: relative

#lower_pagewrapper
	width: 100%
	background-image: url(../images/system/bg/front/content_bg.jpg)
	#content	
		margin: 0px auto 
		padding: 25px
		background-image: url(../images/system/bg/front/content_bg.jpg)
		background: "repeat-y"
		color: black
		width: 970px
		height: 245px
		font-family: "Georgia"
		#main
			width: 500px
			height: 245px
			background: white
			float: left
			color: #4d4d4d
			overflow: auto
			font-family: "Courier New"
			font-size: 14px
			p
				margin: 5px 30px
			ul
				margin: 5px 30px
			table
				margin: 25px			
		#searchbox
			height: 245px
			width: 275px
			background-color: transparent
			float: left
			margin-left: 20px
			#border-bottom: 1px solid #bdbdbd			
			h3
				text-transform: uppercase
				color: #e13939
			form
				font-family: "Georgia"
			form#QuickQuery
				p
					margin-bottom: 0px
					input#QuickQuery
						padding: 6px 0 0 6px
						border: 0px
						width: 223px
						height: 21px
						background-image: url(../images/system/form/search_input.jpg) 
						background-repeat: no-repeat					
						float: left
						padding-right: 0px
						line-height: 25px
			form#Selectable
				div
					float: right
					margin-top: 10px					
					p
						margin: 0px
						padding: 0px
						height: 30px
						width: 198px
						input.formularios
							padding: 6px 0 0 6px
							border: 0px
							width: 168px
							height: 20px
							background-image: url(../images/system/form/dropdown.jpg)
							background-repeat: no-repeat	
							font-family: "Georgia"
						input.onfocus
							background-image: url(../images/system/form/dropdown.jpg)
				div.titles
					margin-top: 22px
					color: #838383
					p
						width: 77px
						font-size: 80%
						text-transform: uppercase

					
		#page_header
			width: 500px
			float: left
		#sellyourproperty
			width: 170px
			float: left
			margin-top: 15px

		ul#gallerylinks
			height: 230px
			width: 130px
			li
				float: left
				height: 62px		
		#side-nav
			width: 130px
			height: 230px
			float: left
			background-color: transparent
			margin-right: 25px
			ul
				padding-left: 5px
				width: 120px
				float: none
				li
					list-style: none
					a
						color: black
					a:hover
						color: red	
					ul.sublevel
						li
							list-style: disc	
							list-style-position: inside
		h1
			font-size: 22px
			padding: 15px 25px 5px 25px
			text-align: left
			font-family: "Times New Roman"
		h2
			font-size: 21px
			padding: 5px
			text-align: left
			font-weight: bold
		p
			margin: 10px 0 10px 0
		ul
			margin-right: 50px
	
		#subcontent
			width: 720px
			float: left
			margin-left: 40px
			td
				border-bottom: 1px solid black
				vertical-align: middle
				table.nolines
					td
						border: 0px none		
	#footer
		margin: 0px auto
		width: 100%
		height: 35px
		background-image: url(../images/system/bg/front/footer_bg.jpg)
		z-index: 100
		ul#links
			width: 1020px
			margin: 0px auto
			list-style: none
			li
				line-height: 35px
				font-size: 10px
		#logbox
			float: right
			width: 250px
			margin-top: 0px
			div
				float: left
				margin-left: 15px
				background-color: white



